window {
    background-color: rgba(33,21,18,0.95);
    border-radius: 10px;
    border: 2px solid #73c395;
}

#input {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: rgba(33,21,18,0.85);
    color: c7c4c3;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
    color: c7c4c3;
}

#entry:selected {
    background-color: #73c395;
    color: 211512;
}

#text {
    color: c7c4c3;
}
