window {
    background-color: rgba(33,31,13,0.95);
    border-radius: 10px;
    border: 2px solid #5984b7;
}

#input {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: rgba(33,31,13,0.85);
    color: c7c7c2;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
    color: c7c7c2;
}

#entry:selected {
    background-color: #5984b7;
    color: 211f0d;
}

#text {
    color: c7c7c2;
}
