window {
    background-color: __BG_STRONG__;
    border-radius: 10px;
    border: 2px solid __PRIMARY__;
}

#input {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: __BG_ALPHA__;
    color: __FG__;
}

#inner-box {
    margin: 10px;
}

#entry {
    padding: 6px;
    border-radius: 6px;
    color: __FG__;
}

#entry:selected {
    background-color: __PRIMARY__;
    color: __BG__;
}

#text {
    color: __FG__;
}
